body{
	padding-top: 40px;
	padding-bottom: 20px;
	background-color: darkseagreen !important;
}
footer{
	background-color: #EEE;
	border-top: 10px solid #BBB;
	font-size: 14px;
	padding: 10px;
	text-align: center;
}
.box-principal{
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
.titulo{
	text-align: center;
}

footer{
	font-size: 10px;
}

.imgTitulo{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 200px !important;
	padding-bottom: 1%;
}

.gif{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}