   #columna {

		border: 1px solid black;
		border-radius: 0px;
		line-height: 0px;
		text-align: center;
		padding: 0px;
		
	}

	.lado_izquierdo, #cargador{

        background-color: #FFF !important;
        border: 5px solid #FFF !important;
        border-radius: 7px !important;
      
	  }
	  
	  #cargardor{
		  width: 100%;
	  }

	  #cargador_black{
		background-color: black !important;
        border: 5px solid black !important;
		border-radius: 7px !important;
		margin-top: 10px !important;
	  }

		#jugar,#reiniciar{
			width: 100%;
		}

	  #mainNav{
		height: 55px;
	  }
	  li{
		  padding: 10px;
	  }
	  #portfolio_container{
		font-size: 10px;
	  }
	  h2{
		  font-size: 20px !important;
	  }
	  section{
		  padding-top: 4rem;
	  }
	  hr{
		  margin-top: 10px !important;
		  margin-bottom: 20px !important;
	  }

	  .dropdown-menu{
		  margin-top: -8% !important;
		}
		.footer{
			padding: 10px 10px;
		}

		.swal-icon--custom  {
			height: 150px;
		}