<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MARIO SMART</title>
    <link rel="shortcut icon" href="/static/images/icon.ico">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"> -->

    <!-- Plugin CSS -->
    <link href="{{ url_for('static', filename='vendor/magnific-popup/magnific-popup.css') }}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/freelancer.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/index">MARIO SMART</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="dropdown nav-item mx-0 mx-lg-1">
                        <a href="#" class="dropdown-toggle nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" data-toggle="dropdown" role="button"
                            aria-expanded="false">Busquedas No Informadas
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" style="background-color: dimgrey">
                            <li>
                                <a href="/amplitud">Busqueda por amplitud</a>
                            </li>
                            <li>
                                <a href="/costo">Busqueda por costo uniforme</a>
                            </li>
                            <li>
                                <a href="/profundidad">Busqueda  profundidad</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown nav-item mx-0 mx-lg-1">
                        <a href="#" class="dropdown-toggle nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" data-toggle="dropdown" role="button" aria-expanded="false">Busquedas Informadas <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" style="background-color: dimgrey">
                          <li><a href="/avara">Busqueda Ávara</a></li>
                          <li><a href="/a_estrella">Busqueda A*</a></li>
                        </ul>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/entorno">Entorno</a>
                      </li>
                

                </ul>
            </div>
        </div>
    </nav>

    <!-- Portfolio Grid Section -->
    <div id="sel_no_inf"></div>
    <section class="portfolio" id="portfolio">
        <div class="container" id="portfolio_container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Busqueda Por Costo Uniforme</h2>
            <hr class="star-dark">
            <div class="row">
                <div id="resultado" class="lado_izquierdo col-sm-5 col-md-5 col-lg-5 offset-sm-2 offset-md-2 offset-lg-2">

                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                <div id="cargador_black">
                    <input id="jugar" value="JUGAR" class="btn btn-primary">
                    <input id="reiniciar" hidden value="REINICIAR" onclick="javascript:window.location.reload();" class="btn btn-primary"/>
                </div>
                <div id="cargador_black">
                    <h4 class="text-center" style="color:aliceblue">INFORMACIÓN DE LA EJECUCIÓN</h4>
                    <div class="list-group">
                      <p id="nodos" class="list-group-item list-group-item-action" style="color:black;font-size:14px">Nodos Expandidos: </p>
                      <p id="arbol" class="list-group-item list-group-item-action" style="color:black;font-size:14px" >Profundidad del arbol: </p>
                      <p id="tiempo" class="list-group-item list-group-item-action" style="color:black;font-size:14px" >Tiempo de computo: </p>
                    </div>
                  </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer" class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Camilo José Cruz Rivera</h4>
                    <p class="lead mb-0">1428907
                    </p>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Jeison Cardona Gomez</h4>
                    <p class="lead mb-0">1325562
                    </p>
                  </div>
                  <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Herney Eduardo Quintero Trochez</h4>
                    <p class="lead mb-0">1528556
                    </p>
                  </div>
            </div>
        </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
        <div class="container">
            <small>Copyright &copy; Mario Smart 2018</small>
        </div>
    </div>




    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ url_for('static', filename='js/jqBootstrapValidation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contact_me.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/freelancer.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>

</html>