<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>MARIO SMART</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>

<body>
    <img class="imgTitulo" src="{{ url_for('static', filename='images/titulo.png') }}" alt="">
    <img class="gif" src="{{ url_for('static', filename='images/mario.gif') }}">

    

    <footer class="navbar-fixed-bottom">
        <b>PRIMER PROYECTO IA</b>
        <br> Autores:
        <br> Camilo José Cruz Rivera -
        <b>1428907</b>
        <br> Jeison Cardona Gomez -
        <b>1325562</b>
        <br>
    </footer>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</body>

</html>