<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MARIO SMART</title>
  <link rel="shortcut icon" href="/static/images/icon.ico">

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
  <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"> -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"> -->

  <!-- Plugin CSS -->
  <link href="{{ url_for('static', filename='vendor/magnific-popup/magnific-popup.css') }}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/freelancer.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->

  <!-- Header -->
  <header class="masthead bg-primary text-white text-center" style="padding: 10%">
    <div class="container">
      <div class="row">
        <div class="lado_izquierdo col-sm-5 col-md-5 col-lg-5 offset-sm-2 offset-md-2 offset-lg-2">
          <img style="width: 350px" class="img-fluid mb-3 d-block mx-auto" src="{{ url_for('static', filename='images/titulo.png') }}"
            alt="">
          <img style="width: 350px" class="img-fluid mb-3 d-block mx-auto" src="{{ url_for('static', filename='images/mario.gif') }}"
            alt="">
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5">
          <div id="cargador">
              <a href="#" {{escondido}} class="list-group-item list-group-item-action list-group-item-success">Entorno modificado</a>
            <form enctype="multipart/form-data" class="text-center" method="POST">
              <input style="color:black; margin-top: 10px" class="" type="file" name="file" id="file" required/>
              <div style="padding-top: 10px">
                <button class="btn btn-primary" type="submit">Modificar Entorno</button>
              </div>
            </form>
          </div>
          <div id="cargador" style="color:black; margin-top:10px">
            <h4 class="text-center">BUSQUEDAS NO INFORMADAS</h4>
            <div class="list-group">
              <a href="/amplitud" class="list-group-item list-group-item-action">Busqueda por amplitud</a>
              <a href="/costo" class="list-group-item list-group-item-action">Busqueda por costo uniforme</a>
              <a href="/profundidad" class="list-group-item list-group-item-action">Busqueda por profundidad</a>
            </div>
          </div>
          <div id="cargador" style="color:black; margin-top:10px">
            <h4 class="text-center">BUSQUEDAS INFORMADAS</h4>
            <div class="list-group">
              <a href="/avara" class="list-group-item list-group-item-action">Busqueda ávara</a>
              <a href="/a_estrella" class="list-group-item list-group-item-action">Busqueda A*</a>
            </div>
          </div>
        </div>
      </div>
      <br>
      <hr class="star-light">
    </div>
  </header>


  <!-- Footer -->
  <footer id="footer" class="footer text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Camilo José Cruz Rivera</h4>
          <p class="lead mb-0">1428907
          </p>
        </div>
        <div class="col-md-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Jeison Cardona Gomez</h4>
          <p class="lead mb-0">1325562
          </p>
        </div>
        <div class="col-md-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Herney Eduardo Quintero Trochez</h4>
          <p class="lead mb-0">1528556
          </p>
        </div>
      </div>
    </div>
  </footer>

  <div class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Mario Smart 2018</small>
    </div>
  </div>




  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>

  <!-- Contact Form JavaScript -->
  <script src="{{ url_for('static', filename='js/jqBootstrapValidation.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contact_me.js') }}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='js/freelancer.min.js') }}"></script>

</body>

</html>